<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.web.dika.mybook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBook"
        android:usesCleartextTraffic="true">
        <activity android:name=".AboutActivity"></activity>
        <activity android:name=".BookDetailActivity">
            <intent-filter android:label="@string/filter_view_http">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="book.dika.web.id"
                    android:pathPrefix="/detail"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
            <intent-filter android:label="@string/filter_view_book">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "app://id.web.dika.mybook/detail” -->
                <data
                    android:host="id.web.dika.mybook"
                    android:pathPrefix="/detail"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>